.topbar {
  width: 100%;
  height: 3rem;
  background-color: lightgrey;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "josefin sans", sans-serif;
  z-index: 999;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topHead {
  font-weight: 600;
  cursor: pointer;
}

.topCenter {
  flex: 6;
}

.topImg {
  width: 40px;
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
}

.topList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.topListItem {
  margin-right: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 1.2rem;
  color: #666;
  cursor: pointer;
  margin-left: 1.2rem;
}

.topbarLink {
  text-decoration: none;
  color: inherit;
  margin-right: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}
