.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 1.4rem;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
  color: gray;
}

.settingsDeleteTitle {
  font-size: 1.2rem;
  color: red;
  cursor: pointer;
}

.settingsForm {
  background-color: whitesmoke;
  margin: auto;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}

.settingsFormPPHead {
  font-size: 1.5rem;
}

.settingsPP > img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  object-fit: cover;
}

.settingsPPIcon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: lightcoral;
  position: relative;
  left: -4rem;
  top: 2.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.8rem;
  cursor: pointer;
}

.settingsUserDetails {
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsUserDetails > label {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.settingsUserDetails > input {
  width: 25rem;
  padding: 1.5rem;
  color: gray;
  margin: 0.7rem 0;
  font-size: 1.2rem;
  height: 1.8rem;
  border: none;
  border-bottom: 0.1rem solid lightgray;
  border-radius: 0.5rem;
  outline: none;
}

.settingsSubmit {
  width: 9rem;
  align-self: center;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.7rem;
  background-color: teal;
  padding: 0.8rem;
  color: white;
  margin-top: 1.4rem;
  cursor: pointer;
}
