.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", "serif";
  color: #444;
  z-index: 1;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 1.2rem;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 5rem;
}

.headerImg {
  width: 100%;
  height: 45rem;
  margin-top: 6rem;
  object-fit: cover;
}
