.sidebar {
  flex: 3;
  margin: 1rem;
  padding-bottom: 0.5rem;
  background-color: #fbfbfb;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarAuthDesc {
  padding: 0.6rem;
}

.sidebarTitle {
  text-align: center;
  margin: 0.2rem;
  padding: 0.5rem;
  width: 100%;
  border-top: 1px solid #a7a7a4;
  border-bottom: 1px solid #a7a7a4;
  font-family: "Varela Round", "sans-serif";
  font-size: 1rem;
  color: #222;
  font-weight: 600;
  line-height: 1.2rem;
}

.sidebarImg {
  margin-top: 1rem;
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.sidebar > p {
  padding: 1.8rem;
}

.sidebarList {
  list-style: none;
  margin-bottom: 2rem;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 1rem;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 1rem;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 1rem;
  margin-left: 0.7rem;
  cursor: pointer;
}
