.write {
  padding-top: 2rem;
}

.writeImg {
  margin-left: 9rem;
  width: 70vw;
  height: 20rem;
  border-radius: 0.7rem;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 9rem;
  display: flex;
  align-items: center;
}

.writeInput {
  display: inline-block;
  width: 20%;
}

.writeIcon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: grey;
  margin: 0.2rem;
  cursor: pointer;
}

.writeInput {
  font-size: 1.8rem;
  border: none;
  padding: 1.4rem;
  width: 70vw;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 1.4rem;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 1.5rem;
  right: 3.2rem;
  color: whitesmoke;
  background-color: cornflowerblue;
  padding: 0.6rem;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
}
