.post {
  width: 25rem;
  margin: 0 1.5rem 2.5rem 1.5rem;
}

.postImg {
  width: 100%;
  padding: 0.1rem;
  height: 25rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", sans-serif;
  font-size: 0.8rem;
  color: #be9656;
  line-height: 1.3rem;
  margin-top: 1rem;
  margin-right: 0.7rem;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.9rem;
  color: #999;
  margin-top: 1rem;
}

.postDesc {
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  color: #444;
  line-height: 1.8rem;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
